.top-bar {
  background: linear-gradient(90deg, #ff8a00, #e52e71, #4a90e2);
  background-size: 300% 300%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  33% {
    background-position: 50% 50%;
  }
  66% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
