.AboutSection {
  background-color: rgb(255, 240, 229);
  padding: 80px 0px;
  .row1 {
    .col1 {
      h1 {
        padding-bottom: 50px;
        background-image: linear-gradient(to left, #0fd850 0%, #f9f047 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: rgb(37, 34, 34);
      }
    }
  }

  .row2 {
    margin-top: 100px;
    h2 {
      background-image: linear-gradient(to left, #0fd850 0%, #f9f047 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .row3 {
    .col3 {
      // h5{
      .gradient-text {
        background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      // }
    }
  }

  .card:hover {
    background-color: aquamarine;
  }
}
.card {
  margin-top: 2.3%;
}
