

.MainContainer{
    background-color:#FFF0E5;
    width: 100%;
    height: 100%;

    h1{
        padding-top: 15vh;
    }

    .row{
        .col{
            margin-bottom: 15vh;
            margin-top: 5vh;
        }
    }

}