

.nav-link {
  padding: 3px;
}

.navbar {
      
  box-shadow: 0px 4px 10px 1px rgb(150, 150, 150,0.4);
  // border-top-left-radius: 30px;
  // border-top-right-radius:30px;
  background-color: rgb(255, 240, 229);
  // background-color: red;
  color: black;
  font-weight: 500;

  .title {
    color: black;
    background-color: none !important;
  }

  .navbar-nav {
    li {
      .nav-link {
        // background-color: red;
        color: black;
      }
      .home {
        color: #662eed;
      }
      .upcomingbatches {
        color: #ff7579;
      }
      .courses {
        color: orange;
        // background: #121fcf;
        // background: linear-gradient(to right, #121fcf 0%, #ff7579 100%);
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
      }
    }
    .nav-item {
      border-radius: 100px;
    }
    .nav-item :hover {
      border-radius: 100px;
      background-color: rgb(229, 235, 249);
      color: blue;
    }
  }
}

.active{
  color: blue !important;
  border-radius: 100px;
  // background-color: rgb(235, 220, 209);
}
